cloud_id                 = "b1g84ct6ohrdcv1n4g41"
folder_id                = "b1g90djucp126v123ie0"
zone                     = "ru-central1-a"
token                    = "aK_AAEf9_dmdkwlggjyoor23j5nn_not_a_token_evenIFitLooksLikeONE"
public_key_path          = "~/.ssh/key.pub"
private_key_path         = "~/.ssh/key"
image_id                 = "mycustombeautyimageid"
subnet_id                = "mysubnetid"
service_account_key_file = "path_to_access_key"
